<h2 class="text-center mt-4">All Vehicles</h2>
<p class="text-center">Select a vehicle to view it's information</p>

<div class="container mb-3">
    <div class="row">
{% for vehicle in collections.vehicles %}
    <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="{{ vehicle.url | url }}" style="text-decoration: none;">
            <div class="card mt-3" >
                <img src="{{ vehicle.data.images | first }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ vehicle.data.name }}</h5>
                    <p class="card-text fs-4">${{ vehicle.data.price}}</p>
                </div>
            </div>
        </a>
    </div>
{% endfor %}
    </div>
</div>