<div class="container ">
    <div class="row">
{% for vehicle in collections.vehicles %}
    <div class="card col m-3" >
        <img src="{{vehicle.data.image }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ vehicle.data.name }}</h5>
            <p class="card-text">{{ vehicle.data.description }}</p>
            <a href="{{ vehicle.url | url }}" class="btn btn-primary">View Vehicle</a>
        </div>
    </div>
{% endfor %}
    </div>
</div>