---
layout: layouts/base.html
---
<div class="container mt-1">
  <h2 class="fw-bold">{{ name }}</h2>
  <div class="row">
    <div class="col-lg-7">
      <div id="carCarousel" class="carousel slide">
        <div class="carousel-inner">
          {% for image in images %}
          <div class="carousel-item {{ 'active' if loop.first }}">
            <img src="{{ image }}" class="d-block w-100" alt="Vehicle">
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-lg-5 bg-light d-flex flex-column justify-content-between">
      <div>
      <p class="h2 mt-2 fw-semibold">${{ price }}</p>
      <p class="mt-2 fs-5">{{ description }}</p>
      </div>
      <div class="gap-2 d-grid">
        <a href="tel:+1-780-940-1864" type="button"
          class="btn btn-primary">Contact&nbsp;us:&nbsp;+1&#8209;780&#8209;940&#8209;1864</a>
        <a href="#" type="button" class="btn btn-primary">View on Facebook marketplace</a>
        <a href="#" type="button" class="btn btn-primary">View on Kijiji</a>
      </div>
    </div>
    <h2 class="mt-4 fw-semibold">Details</h2>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Condition</th>
          <th>Kilometers</th>
          <th>Transmission</th>
          <th>Drivetrain</th>
          <th>Fuel</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ condition }}</td>
          <td>{{ kilometres }}</td>
          <td>{{ transmission }}</td>
          <td>{{ drivetrain }} </td>
          <td>{{ fuel }}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Seats</th>
          <th>Body Style</th>
          <th>Color</th>
          <th>Model</th>
          <th>VIN</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ seats }}</td>
          <td>{{ body-style }}</td>
          <td>{{ color }}</td>
          <td>{{ model }}</td>
          <td>{{ vin }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>