/* Elements */
h2.text-light {
    text-shadow: 1px 1px 6px black;
    font-weight:  bold;
}

html header {
    --bs-emphasis-color-rgb: 255, 255, 255;

}
.navbar h1 {
    font-weight: 900;
    font-family: "Exo 2", sans-serif;
    color: white;
}

html .btn {
    --bs-btn-bg: #1470af;
    --bs-btn-border-color: #12659c;
    --bs-btn-color: white;
    --bs-btn-hover-color: #fff1f1;
    --bs-btn-hover-bg: #1a8cd9;
}

main {
    font-family: "Exo 2", sans-serif;
}


footer {
    background-color: #1470af;
    color: white;
}

/* Classes */

.hero-image {
    background-image: url(https://images.squarespace-cdn.com/content/v1/60b06304404f6c784f922c05/cdbfedda-b8ed-4eba-af54-89306d2759c3/bw+WD+Dragster.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:hsl(208, 16.5%, 17.8%);
    background-position: center;
    background-blend-mode: lighten;
    height: 40rem;
}

.navbar {
    background-color: #1470af;
}

.price {
    border-bottom: solid;
}


