<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <title>Wheeler Auto Ent.</title>
</head>
<body>
    <header>
        <a href="/"><h1>{{ title | default: "Wheeler Auto Ent." }}</h1></a>
        <a href="/vehicles">Vehicles</a>
    </header>
    <main>
        {{ content }}

    <!-- netlify cms user stuff -->
    <script>
        if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
            window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
            });
            }
        });
        }
    </script>
    </main>
</body>
</html>